<div class="wrapper">
  <mat-form-field class="input-filter-group">
    <mat-label>Filter news by title</mat-label>
    <input
      type="text"
      matInput
      placeholder="Input title"
      [(ngModel)]="search"
    />
  </mat-form-field>

  <!-- <app-news-item
    *ngFor="let article of articles | filter: search"
    [item]="article"
  >
  </app-news-item> -->

  <mat-card *ngFor="let article of articles | filter: search" class="card">
    <mat-card-title>
      {{ article.title }}
    </mat-card-title>
    <mat-card-content>{{ article.description }}</mat-card-content>
    <a [routerLink]="['/news', article.url.slice(8)]">
      <img mat-card-image src="{{ article.urlToImage }}" />
    </a>
    <a [href]="article.url">Link to the article</a>
  </mat-card>

  <mat-paginator
    class="paginator"
    [length]="totalResults"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10]"
  ></mat-paginator>
</div>
