.input-filter-group {
  font-size: 1.5rem;
  width: 50%;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 1rem 0;
}

.paginator {
  width: 100%;
  font-size: 1.5rem;
}

.card {
  margin: 1rem;
}
